pip install numpy pandas scikit-learn
numpy
pandas
streamlit
joblib
scikit-learn
pip
xgboost
sqlite3
smtplib
random
string
email.mime.text
MIMEText
email.mime.multipart
MIMEMultipart
hashlib
sqlite3
